<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/static/lang-logo.png">
    </a>
    <h1>Getting Started with Go on Heroku</h1>
      <p>This is a sample Go application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
      <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-go"><span class="glyphiconglyphicon-flash"></span> Getting Started with Go</a>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/go-getting-started"><span class="glyphiconglyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
      To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-go" class="alert-link">Getting Started with Go on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Girl From Ipanema - Carlos Jobim</h3>
      <pre>
        Bossa Nova in half-time (4/4 -> 2/4)
        Key: F major
         
         
        [Chorus 1]
        Fmaj7
        Tall and tan and young and lovely,
            G7
        the girl from Ipanema goes walking,
            Gm7                   Gb7
        and when she passes, each one she passes goes
        Fmaj7            Gb9
        Ahh...
         
         
        [Verse 1]
        Fmaj7
        When she walks she's like a samba
             G7
        that swings so cool and sways so gentle,
             Gm7                   Gb7
        that when she passes, each one she passes goes
        Fmaj7            Gb9
        Ahh...
         
        Gbmaj7                 Cb9
        Oh, but I watch her so sadly.
        F#m7                 D9
        How can I tell her I love her?
        Gm7                        Eb9
        Yes, I would give my heart gladly.
                 Am7                       D7-9
        But each day when she walks to the sea,
            Gm7                         C7-9
        she looks straight ahead not at me.
         
         
        [Chorus 2]
        Fmaj7
        Tall and tan and young and lovely,
            G7
        the girl from Ipanema goes walking,
            Gm7                Gb7
        and when she passes, I smile,
                        Fmaj7          Gb9
        but she doesn't see.
         
         
        [Verse 2]
        Fmaj7
        When she walks she's like a samba
             G7
        that swings so cool and sways so gentle,
             Gm7                   Gb7
        that when she passes, each one she passes goes
        Fmaj7            Gb9
        Ahh...
         
        Gbmaj7                 Cb9
        Oh, but I watch her so sadly.
        F#m7                 D9
        How can I tell her I love her?
        Gm7                        Eb9
        Yes, I would give my heart gladly.
                 Am7                       D7-9
        But each day when she walks to the sea,
            Gm7                         C7-9
        she looks straight ahead not at me.
         
         
        [Chorus 3]
        Fmaj7
        Tall and tan and young and lovely,
            G7
        the girl from Ipanema goes walking,
            Gm7                Gb7
        and when she passes, I smile,
                        Fmaj7          Gb9
        but she doesn't see.
                         Fmaj7         Gb9
        She just doesn't see.
                        Fmaj7          Gb9        Fmaj7
        No, she doesn't see.
      </pre>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Wave - Carlos Jobim</h3>
      <pre> 
          | Dm7   G7 | (4x)

          | Dmaj7    | Bbº    | Am7    | Aº/D    |
          | Gmaj7    | Gm6    | F#6    | B7      |
          | E7sus2   | Bb7 A7 |

          | Dm7   G7 | (4x)

          | Dmaj7    | Bbº    | Am7    | Aº/D    |
          | Gmaj7    | Gm6    | F#6    | B7      |
          | E7sus2   | Bb7 A7 |

          | Gm7      | C7     | Fmaj7  | %       |
          | Ab/Bb    | Bb7/Ab | Ebmaj7 | A7      |

          | Dmaj7    | Bbº    | Am7    | Aº/D    |
          | Gmaj7    | Gm6    | F#6    | B7      |
          | E7sus2   | Bb7 A7 |

          | Dm7   G7 | (4x)
      </pre>
    </div>
  </div> <!-- row -->
    <div class="alert alert-info text-center" role="alert">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/N10OUK-UJ88" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

</body>
</html>
